################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HRD/.vs/HRD
/HRD/bin/Debug/net5.0
/HRD/obj
